html, body {
    height: 100%;
}


/**
 *
 *
 * Login page <--------------------------------------------------------------------------------------------->
 *
 *
 */

.table-block {
    display: table;
    width: 70%;
    height: 100vh;
}

.table-cell-block {
    display: table-cell;
    vertical-align: middle;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.go-home
{
    display: block;
    margin-top: 10px;
}


/**
 *
 *
 * Home page <--------------------------------------------------------------------------------------------->
 *
 *
 */


.signin-logout-link {
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 0 10px;
    font-size: 13px;
}

.blog-wrap {
    font-family: 'Open Sans', sans-serif;
    padding: 60px 0;
}
.blog-left {
    padding-right: 40px;
}
.blog-post + .blog-post {
    margin-top: 35px;
}
.blog-post .content {
    padding-top: 25px;
}
.blog-post .content h3.title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 22px;
}
.blog-post .content h3.title a {
    color: #000;
    text-decoration: none;
}
.featured-post img {
    width: 100%;
    border-radius: 10px;
}
.meta-post {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;
    font-size: 13px;
}
.meta-post li {
    display: inline-block;
    margin-right: 15px;
}
.meta-post li a {
    color: #8c8c8c;
    text-decoration: none;
}
.entry-post {
    font-size: 14px;
}
.read-more-btn {
    display: inline-block;
    width: 160px;
    padding-left: 0;
    line-height: 42px;
    height: 44px;
    border: 2px solid #e5e5e5;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #2d2d2d;
    text-align: center;
    position: relative;
    z-index: 9;
    overflow: hidden;
    text-decoration: none;
}
.read-more-btn:hover,
.read-more-btn:focus {
    color: #fff;
    text-decoration: none;
}
.read-more-btn:before {
    content: '';
    position: absolute;
    background: #337ab7;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.read-more-btn:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.sidebar .widget {
    margin-bottom: 36px;
}
.widget-search form input {

    outline: 0;
    outline-offset: 0;
    height: 40px;
    border: none;
    background: #f5f5f5;
    border-radius: 25px;
    padding: 0 20px;
    width: 80%;
    font-size: 13px;
}
.sidebar .widget .widget-title h3 {
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
    padding-bottom: 15px;
    margin-bottom: 22px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.blog-pagination {
    text-align: center;
    margin-top: 40px;
}
.blog-pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.blog-pagination ul li {
    display: inline-block;
    padding: 0 5px;
}
.blog-pagination ul li a {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: block;
    border: solid 2px #e5e5e5;
    line-height: 42px;
    color: #32466a;
    text-decoration: none;
    font-size: 14px;
}
.blog-pagination ul li.prev a,
.blog-pagination ul li.next a {
    color: #337ab7;
}
.blog-pagination ul li.active a {
    background: #337ab7;
    border-color: #337ab7;
    color: #fff;
}

/**Blog2**/
.bolg-post-list {
    padding: 0;
    margin: 0 -10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.bolg-post-list>li {
    padding: 0 10px;
    width: 50%;
    margin-bottom: 25px;
}


